A
{
	color: #ccff00;
}
A:link
{
	text-decoration: none;
}
A:visited
{
	text-decoration: none;
}
A:hover
{
	COLOR: #ff0000;
}
A.myclass
{
	color: #eeeeff;
}
body 
{
	font-family: verdana, "sans-serif", "geneva ce", "helvetica ce", geneva, helvetica, lucida;
	background-color: #336699;
}
td
{
	font-family: verdana, "sans-serif", "geneva ce", "helvetica ce", geneva, helvetica, lucida;
	font-size:12px;
	color:#eeeeff;
	font-weight: bold
}